node_modules/*
logs/*
shared-local-instance.db
.idea
server.js
README.md
package-lock.json
expressworks/*
spec/*
**/*.marko.js
**/*.min.js
**/*.min.css
client/static/lib/bootstrap/css/nmns.css
**/*.eot
**/*.svg
**/*.ttf
**/*.woff
**/*.woff2
yarn.lock