node_modules/*
logs/*
shared-local-instance.db
.idea
server.js
README.md
package-lock.json
expressworks/*
**/*.marko.js
client/static/lib/bootstrap/css/nmns.css
yarn.lock
ecosystem.config.js
client/static/lib/material-floating-button/mfb.css*
client/static/lib/material-floating-button/mfb.js*
bin/addMemberId.js
goorm.manifest
bin/logs/*
