/* customer menu */

#mainCustomerTools .customerHead{
    justify-content: center;
    white-space:normal;
    word-break:keep-all;
}

#mainCustomerTools .customerSortType, #customerScheduleNotEmpty .customerScheduleSortType{
    cursor:pointer;
    position:relative;
}

#mainCustomerTools .customerSortType:active,
#mainCustomerTools .customerSortType:hover,
#mainCustomerTools .customerSortType:focus,
#mainCustomerTools .customerSortType.active,
#customerScheduleNotEmpty .customerScheduleSortType:active,
#customerScheduleNotEmpty .customerScheduleSortType:hover,
#customerScheduleNotEmpty .customerScheduleSortType:focus,
#customerScheduleNotEmpty .customerScheduleSortType.active{
    font-weight:bold;
}

#mainCustomerTools .customerSortType:after, #customerScheduleNotEmpty .customerScheduleSortType:after{
    content: url('/nmns/img/sort_on.svg');
    opacity:1;
    margin-left:3px;
}

#mainCustomerTools .customerSortType:not(.active):not(:hover):after, #customerScheduleNotEmpty .customerScheduleSortType:not(.active):not(:hover):after{
    opacity:0.5;
}

#mainCustomerList .customer{
  position:relative;
  text-align:center;
  padding:10px 7px;
  margin-top:5px;
  background-color:#fff;
  display:flex;
  align-items:center;
}

#mainCustomerList .customer:hover{
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

#mainCustomerList .customer .col{
  font-size:12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display:inline-block;
}

#mainCustomerList .customer > .col:nth-child(2){
    margin-left:36px;
}

#mainCustomerList .customer .tui-full-calendar-weekday-schedule-bullet{
    top:50%;
    transform:translateY(-50%);
    left:16px;
}

#mainCustomerList .customer .customerModalLink{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

#mainCustomerLoading {
    height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    width: 100%;
}

/* customer modal */

#customerModal #customerNoShow {
    display:none;
    font-size:13px;
    margin-bottom:35px;
}
#customerModal #customerNoShowCount{
    font-size:13px;
    font-weight:500;
}

#customerModal .customerTitle, #customerModal .customerTitle + div{
    font-size:15px;
    margin-bottom:17px;
}

#customerModal #customerBalanceMembership, #customerModal #customerTotalSales{
    margin-right:5px;
}
#closeCustomerModal, #customerModal.addCustomer #customerTabList a:not([href="#customerInfo"]){
    display:none;
}

#customerScheduleList{
    max-height: calc(100vh - 310px);
    overflow:auto;
}
#customerScheduleList .customerSchedule{
    display:flex;
    text-align:center;
    padding:10px 5px;
}
#customerScheduleList .customerSchedule .col{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.customerSchedule .tui-full-calendar-weekday-schedule-bullet{
    display:inline-block;
    position:relative;
    top:unset;
    left:unset;
    margin-right:3px;
}

#customerScheduleEmpty, #customerAlrimEmpty, #customerAlrimLoading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 255px;
}
#customerAlrimList{
    max-height:calc(100vh - 290px);
    overflow:auto;
}
#customerAlrimList .customerAlrim{
    padding:10px 15px;
    font-size:12px;
}
#customerAlrimList .customerAlrimDetailLink{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#customerAlrimList .customerAlrimDetail{
    font-size:11px;
    background-color:#f8f8f8;
    opacity:0.7;
    padding:0 15px 15px 15px;
    line-height:1.82;
}

#customerAlrimList .customerAlrim.active{
    background-color:#f8f8f8;
}

#customerAlrimList .customerAlrim:after {
    content: url('/nmns/img/arrow_bottom.svg');
    float:right;
    display: block;
    transition: 0.3s all ease;
}

#customerAlrimList .customerAlrim.active:after {
    transform: rotate(180deg);
    filter: none;
}

#customerMembershipList .customerMembership{
    display:flex;
    padding: 10px 5px;
}

#customerMembershipList .customerMembership div{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}