/* customer menu */
#customerSortTypeMenu{
  font-size:14px;
  padding-bottom:5px;
  margin-bottom:10px;
}
#customerSortTypeMenu:after{
  content: url('/nmns/img/sort_on.svg');
  opacity:1;
  margin-left:3px;
  border:none;
  float:none;
  margin-top:0;
}
#mainCustomerTools .dropdown-menu{
  border:none;
  min-width:110px;
  border-radius: 2px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  padding:20px 0 10px 0;
}
#mainCustomerTools .dropdown-item{
  padding-left:15px;
  padding-right:15px;
  text-align:left;
  font-size:14px;
  height:40px;
}
#customerSortTypeMenu .dropdown-item:active{
  background-color:initial;
  color:initial;
}
#mainCustomerList .customer{
  position:relative;
  padding:20px 15px;
  margin-top:5px;
  background-color:#fff;
  display:flex;
  flex-wrap:wrap;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  font-size:12px;
}
#mainCustomerList .customer:first-child{
  margin-top:0;
}

#mainCustomerList .customer:hover{
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

#mainCustomerList .customer .tui-full-calendar-weekday-schedule-bullet{
  top:8px;
  right:0;
  left:unset;
}
#mainCustomerList .customer .divider{
  line-height:12px;
}
#mainCustomerList .customer hr{
  width:100%;
}
#mainCustomerList .customer .col-12:first-child{
  margin-bottom:10px;
}
#mainCustomerList .customer .col-6{
  padding-top:9px;
}
#mainCustomerList .customerSubHead{
  opacity:0.7;
}
#mainCustomerList .customer .customerModalLink{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

#mainCustomerLoading {
    height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    width: 100%;
}

/* customer modal */

#customerModal #customerNoShow {
    display:none;
    font-size:13px;
    margin-bottom:35px;
}
#customerModal #customerNoShowCount{
    font-size:13px;
    font-weight:500;
}

#customerModal .customerTitle, #customerModal .customerTitle + div{
    font-size:15px;
    margin-bottom:17px;
}

#customerModal #customerBalanceMembership, #customerModal #customerTotalSales{
    margin-right:5px;
}
#closeCustomerModal, #customerModal.addCustomer #customerTabList a:not([href="#customerInfo"]){
    display:none;
}

#customerScheduleList{
    max-height: calc(100vh - 310px);
    overflow:auto;
}
#customerScheduleList .customerSchedule{
    display:flex;
    text-align:center;
    padding:10px 5px;
}
#customerScheduleList .customerSchedule .col{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.customerSchedule .tui-full-calendar-weekday-schedule-bullet{
    display:inline-block;
    position:relative;
    top:unset;
    left:unset;
    margin-right:3px;
}

#customerScheduleEmpty, #customerAlrimEmpty, #customerAlrimLoading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 255px;
}
#customerAlrimList{
    max-height:calc(100vh - 290px);
    overflow:auto;
}
#customerAlrimList .customerAlrim{
    padding:10px 15px;
    font-size:12px;
}
#customerAlrimList .customerAlrimDetailLink{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#customerAlrimList .customerAlrimDetail{
    font-size:11px;
    background-color:#f8f8f8;
    opacity:0.7;
    padding:0 15px 15px 15px;
    line-height:1.82;
}

#customerAlrimList .customerAlrim.active{
    background-color:#f8f8f8;
}

#customerAlrimList .customerAlrim:after {
    content: url('/nmns/img/arrow_bottom.svg');
    float:right;
    display: block;
    transition: 0.3s all ease;
}

#customerAlrimList .customerAlrim.active:after {
    transform: rotate(180deg);
    filter: none;
}

#customerMembershipChange{
    color:rgba(58, 54, 54, 0.35);
}
#customerMembershipChange.manual{
    color:rgb(58,54,54);
}
#customerMembershipList .customerMembership{
    display:flex;
    padding: 10px 5px;
}

#customerMembershipList .customerMembership div{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}