div.tui-full-calendar-weekday-grid{
  overflow-y:auto;
}

div.tui-full-calendar-weekday-schedules{
  overflow-y: auto;
}
div.tui-full-calendar-dayname-container{
  overflow-y: auto;
}
div.tui-full-calendar-timegrid-container{
  overflow-y: hidden;
}
#renderRange{
  font-size:1.5rem;
}
.calendarTypeGroup{
  right:0.5rem;
  height:50px;
}
#mainCalendarTools{
  min-height:50px;
  line-height:50px;
}
#mainContents{
  padding-left:0;
}
@media (min-width: 992px){
  #mainContents{
    padding-left: 15px;
  }
}
button.calendarType{
  border: 0;
}
button.calendarType:active, button.calendarType:hover, button.calendarType:focus, button.calendarType.active{
  background-color: #b2dfdb !important;
}
button.moveDate{
  line-height: 1.0;
}