/*main contents*/
#mainRow *:not(.badge):not(.tui-full-calendar-calendar-dot):not(.tui-full-calendar-weekday-grid-date-decorator):not(.tui-full-calendar-weekday-schedule-time):not(.tui-full-calendar-weekday-schedule-bullet):not(.tui-full-calendar-timegrid-todaymarker):not(input + span){
  border-width: .05rem;
  border-radius:0;
}
#mainRow{
  max-width:1920px;
}
#mainRow .tui-full-calendar-time-date:last-child{
  border-right:none !important;
}
div.tui-full-calendar-weekday-grid{
  overflow-y:auto;
}
div.tui-full-calendar-weekday-schedules{
  overflow-y: hidden;
}
div.tui-full-calendar-dayname-container{
  overflow-y: auto;
}
div.tui-full-calendar-timegrid-container{
  overflow-y: hidden;
}
div.tui-full-calendar-vlayout-container .tui-full-calendar-splitter + div[data-panel-index="4"]{
  height:auto !important;
}
#renderRange{
  font-size:1.5rem;
}
.calendarTypeGroup{
  right:0.5rem;
  height:50px;
}
#mainCalendarTools{
  min-height:50px;
  line-height:50px;
}
#mainCalendarTools .dropdown-menu{
  min-width:4.2rem;
  width:4.2rem;
  border-radius: 0;
  font-size:.9rem;
}
#mainCalendarTools .calendarType{
  line-height:28px;
  width:auto;
}
#mainCalendarTools #calendarTypeMenu .calendarTypeText{
  display:none;
}
#mainCalendarTools #calendarTypeMenu.dropdown-toggle:after{
  margin-left:0;
}
@media (min-width: 360px){
  #mainCalendarTools #calendarTypeMenu i.calendarTypeText{
    display:inline;
  }
  #mainCalendarTools #calendarTypeMenu.dropdown-toggle:after{
    margin-left:.255rem;
  }
}
@media(min-width:430px){
  #mainCalendarTools #calendarTypeMenu span.calendarTypeText{
    display:inline;
  }
}
#mainContents{
  padding-left:0;
}
@media (min-width: 992px){
  #mainRow #mainContents{
    border-left: 15px solid #f8f9fa;
  }
}
.tui-full-calendar-timegrid-right + div + .ps__rail-y {
  opacity:0;
}
.tui-full-calendar-screen{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  opacity:0;
  background-color:black;
  transition:opacity 0.15s linear;
  visibility:"hidden";
  z-index:3;
}
.tui-full-calendar-vlayout-area, .tui-full-calendar-week-container{
  height:auto !important;
}
.tui-full-calendar-weekday-grid-line:not(.tui-full-calendar-today) .tui-full-calendar-weekday-grid-date{
  width:auto;
  text-align:left;
  padding-left:.25rem;
}
.tui-full-calendar-month-week-item .tui-full-calendar-weekday-grid-line.tui-full-calendar-today .tui-full-calendar-weekday-grid-date-decorator{
  background-color:#009688;
}
.tui-full-calendar-dayname-layout .tui-full-calendar-past, .tui-full-calendar-timegrid-timezone .tui-full-calendar-past, .tui-full-calendar-month .tui-full-calendar-past:not(.tui-full-calendar-extra-date) span, .tui-full-calendar-time-date-schedule-block.tui-full-calendar-past, .tui-full-calendar-daygrid-layout .tui-full-calendar-weekday-schedule-block.tui-full-calendar-past{
  opacity:.8;
}
.tui-full-calendar-layout .tui-full-calendar-week-week .tui-full-calendar-dayname-name.weekViewDayName{
  display:none;
}
@media(min-width:400px){
  .tui-full-calendar-layout .tui-full-calendar-week-week .tui-full-calendar-dayname-name.weekViewDayName{
    display:inline;
  }
}
.tui-full-calendar-layout .tui-full-calendar-week-week .calendar-font-icon, .tui-full-calendar-layout .tui-full-calendar-month .calendar-font-icon{
  display:none;
}
@media(min-width:576px){
  .tui-full-calendar-layout .tui-full-calendar-week-week .calendar-font-icon, .tui-full-calendar-layout .tui-full-calendar-month .calendar-font-icon{
    display:inline-flex;
  }
}
.tui-full-calendar-schedule-cover{
  width:calc(100% - 5px);
  height:100%;
  overflow:hidden;
}
.tui-full-calendar-time-schedule{
  white-space: nowrap;
  line-height: 15px;
}
.tui-full-calendar-time-schedule .badge{
  vertical-align: top;
}
button.calendarType{
  border: 0;
}
button.calendarType:active, button.calendarType:hover, button.calendarType:focus, button.calendarType.active{
  background-color: #b2dfdb !important;
}
button.moveDate{
  line-height: 1.0;
}
button.moveDate:focus{
  box-shadow:none;
}
.tui-full-calendar-month-more-title-day.tui-full-calendar-holiday-sat, .tui-full-calendar-month-more-title-day.tui-full-calendar-holiday-sat + span{
  color:#304ffe;
}
.tui-full-calendar-month-more-title-day.tui-full-calendar-holiday-sun, .tui-full-calendar-month-more-title-day.tui-full-calendar-holiday, .tui-full-calendar-month-more-title-day.tui-full-calendar-holiday-sun + span, .tui-full-calendar-month-more-title-day.tui-full-calendar-holiday + span{
  color:#ff4040;
}
.flatpickr-input{
  background-color:white;
}
.flatpickr-calendar.hasTime.noCalendar{
  max-width:240px;
}
.flatpickr-calendar.hadTime.noCalendar .flatpickr-time{
  border-top:0;
}
.flatpickr-calendar .numInputWrapper span{
  border:0;
}
.flatpickr-calendar .numInputWrapper span:after{
  left:3px;
}
.flatpickr-calendar{
  border-radius:0;
}
.flatpickr-day{
  border-radius:0;
}
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
  background-color:#009688;
  border-color:#009688;
}
/* side bar */
#sidebarContainer{
  max-width:230px;
}
#sidebarContainer ul li{
  list-style: none;
}
#lnbManagerList div:first-child{
  margin-top:.7rem;
}
#lnbManagerList .lnbManagerItem, #lnbManagerList + .lnbManagerItem{
  line-height:.8rem;
  margin-left:.25rem;
}
#lnbManagerList .addManagerItem .addManagerColor{
  cursor:default;
}
#lnbLastMenu a{
  cursor:default;
}
#lnbLastMenu a div{
  cursor:pointer;
}
.addManagerItem label{
  width: calc(100% - 35px);
}
.addManagerItem input[type='text']{
  width: calc(100% - 23px);
  font-size:.8rem;
  display:inline-block;
}
.addManagerItem input[type='text']:focus{
  border-color:#ced4da;
  box-shadow:none;
}
.addManagerItem .submitAddManager, .addManagerItem .cancelAddManager, .infoManagerItem .deleteManager{
  cursor:pointer;
}
.tui-full-calendar-weekday-schedule{
  overflow-y:hidden;
}
/* creation popup */
#creationPopup{
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
#creationPopup #tui-full-calendar-popup-arrow{
  display:none;
}
.tui-full-calendar-button.tui-full-calendar-popup-close{
  font-size:1.2rem;
  right:16px;
}
.tui-full-calendar-popup{
  font-size:0.9rem;
}
#creationPopupAllDay, #creationPopupAllDay + label, #creationPopupAllDay + label + label{
  font-size:0.9rem;
}
#creationPopupAllDay{
  display:none;
}
#tui-full-calendar-schedule-start-date, #tui-full-calendar-schedule-end-date{
  max-width:140px;
}
.tui-full-calendar-popup .input-group-prepend i{
  width:31px;
  background-color:white;
  border-radius:0 !important;
  border-width:.06rem;
}
.tui-full-calendar-popup input.form-control{
  border-radius:0;
}
#creationPopup .tui-full-calendar-popup-container{
  width: 300px;
  min-width: 300px;
}
#creationPopup #creationPopupManager + .dropdown-menu, #taskForm #taskManager + .dropdown-menu{
  margin-top:0;
  padding: .25rem 0;
  border-radius: 0;
  width:calc(100% - 60px);
}
#creationPopup .dropdown-menu .dropdown-item{
  padding-left:0.5rem;
  font-size:.9rem;
}
@media (min-width: 576px){
  #creationPopup .tui-full-calendar-popup-container{
    width: 535px;
  }
  #creationPopup #creationPopupManager + div.dropdown-menu, #taskForm #taskManager + .dropdown-menu{
    width:calc(100% - 30px);
  }
}
#creationPopupForm{
  border-radius: 0;
  border:0;
}
.tui-full-calendar-dash{
  font-size:0.5rem;
  line-height:31px;
  height:31px;
  display:inline-flex;
}
#creationPopupManagerIcon{
  padding-left: 8px;
}
#creationPopupStartDateIcon, #creationPopupEndDateIcon{
  line-height: 1.7;
}
#creationPopupManager{
  border: .05rem solid #ced4da;
}
#creationPopupManager:focus{
  box-shadow:none;
}
#creationPopupManager.dropdown-toggle:after{
  position:absolute;
  right:5%;
  top:45%;
}
.tui-full-calendar-section-allday{
  line-height:30px;
  height:31px;
}
.tui-full-calendar-section-allday #creationPopupAllDay + label{
  width:15px;
  margin-bottom:0;
}
.tui-full-calendar-section-allday #creationPopupAllDay + label + label{
  margin-bottom:0;
}
.compactLabel{
  letter-spacing: -1px;
}
#alrimContactInfo{
  line-height:.9rem;
}
/* detail popup */
#detailPopup .tui-full-calendar-section-button{
  border-top: .05rem solid #bdbdbd;
}
#detailPopup .tui-full-calendar-section-button .tui-full-calendar-popup-delete, #detailPopup .tui-full-calendar-section-button .tui-full-calendar-popup-edit, #detailPopup .tui-full-calendar-section-button .detailPopupLabel{
  width: calc(33.3333% - 2px);
  padding: 0;
  margin: 7px 0 11px 0;
  vertical-align: middle;
}
#detailPopup .tui-full-calendar-section-button .tui-full-calendar-content{
  display:block;
  height:20px;
  line-height:20px;
  border-right:.05rem solid #bdbdbd;
}
#detailPopup .tui-full-calendar-section-button .tui-full-calendar-popup-delete .tui-full-calendar-content{
  border-right:none;
}
.detailPopupLabel{
  background:none;
  border:none;
  cursor:pointer;
}
.detailPopupLabel span span, .detailPopupLabel div span{
  font-size:.8rem;
}
#detailPopupLabelDropdown:after{
  display:none;
}
.detailPopupLabel .dropdown-menu{
  min-width:5.4rem;
  width:5.4rem;
  top:2px !important;
}
.detailPopupLabel .dropdown-item{
  padding-left:1.5rem;
  font-size:.9rem;
}
.tui-full-calendar-popup-detail .tui-full-calendar-icon.tui-full-calendar-calendar-dot{
  margin-left:4px;
  margin-right:5px;
  vertical-align: text-bottom;
}
/* infoForm */
#infoForm{
  font-size:.9rem;
}
#infoForm #infoManagerList .infoManagerItem label{
  width: calc(100% - 21px);
}
#infoForm #infoManagerList input[type='text']{
  width: calc(100% - 22px);
  font-size:.8rem;
  display:inline-block;
}
.modal-header h5{
  margin-bottom:0;
}
#infoManagerList{
  max-height:142px;
  overflow-y:auto;
}
#infoManagerList div input[type="checkbox"].tui-full-calendar-checkbox-round + span{
  margin-right:6px;
}
#infoModal .addManager p{
  font-size:.8rem;
}
#infoModalColorPicker{
  width:158px;
  display:none;
}
#infoModalColorPicker div{
  font-size:.9rem;
}
#infoModalColorPickerClose{
  cursor:pointer;
}
#infoModalColorPicker .infoModalColor{
  cursor:pointer;
  margin:2px 2.5px;
}
#infoModal .infoBizTime{
  width:calc(50% - 16px);
}
#infoModal .scroll-wrapper{
  max-width:300px;
}
#infoModal i.input-group-text{
  border-width:.06rem;
  background-color:white;
}
/*alrim modal*/
#alrimNotice{
  height:130px;
}
#alrimScreen{
  position:absolute;
  z-index:1;
  left:0;
  width:100%;
  height:calc(100% - 55px);
  background-color:white;
  opacity: .6;
  display:none;
}
/* noShow modal */
.nav-pills a{
  color:#212121;
}
#noShowModal{
  font-size:.9rem;
}
#noShowModal .modal-content div{
  margin-left:auto;
  margin-right:auto;
}
#noShowTabList{
  height:37px;
  overflow:hidden;
}
#noShowModal .input-group-append i, #noShowModal .input-group-append span{
  border-width:.06rem;
}
#noShowModal .input-group-prepend i{
  background-color:white;
  border-width:.06rem;
  line-height:1.4rem;
}
#noShowModal #noShowSearchSummary{
  height:45px;
  display:none;
  overflow-y:hidden;
}
#noShowModal #noShowSearchList.summary{
  height:114px;
}
#noShowModal #noShowSearchList{
  height:159px;
  padding-bottom:.4rem;
}
#noShowModal #noShowScheduleList{
  height:140px;
  margin-bottom:.5rem;
  padding-bottom:.4rem;
}
@media(min-width:992px){
  #noShowModal #noShowSearchSummary{
    height:25px;
    display:none;
  }
  #noShowModal #noShowSearchList.summary{
    height:134px;
  }
}
@media(min-width:576px){
  #noShowModal #noShowScheduleList{
    height:171px;
  }
}
#noShowModal #noShowSearchList .bootstrap-datetimepicker-widget{
  margin-left:.95rem;
}
#noShowModal .noShowSearchAdd div:last-child{
  margin-left:-5px;
  margin-right:5px;
  white-space: nowrap;
}
#noShowModal .noShowScheduleDate{
  width:calc(50% - 16px);
}
#noShowModal #noShowScheduleName{
  width:calc(60% - 37px);
}
@media(min-width:576px){
  #noShowModal #noShowScheduleName{
    width:calc(60% - 51px);
  }
}
#noShowModal #noShowScheduleContact{
  width:calc(40% - 27px);
}
#noShowModal .bootstrap-datetimepicker-widget{
  margin-left:1rem;
}
#noShowModal #noShowAddBtn, #noShowModal #noShowSearchBtn, #noShowModal #noShowSearchList .noShowSearchDelete, #noShowModal .noShowSearchAddCancel, #noShowModal .noShowSearchAddSubmit, #noShowScheduleDropdown .noShowScheduleCheck{
  cursor:pointer;
}
#noShowScheduleList .badge{
  vertical-align:text-top;
  cursor:pointer;
}
#noShowScheduleDropdown{
  left:auto;
  right:1rem;
  min-width:11rem;
  text-align:right;
  padding:0;
}
#noShowScheduleDropdown .dropdown-item{
  padding:.05rem 1rem;
  font-size:.9rem;
}
#noShowScheduleDropdown .dropdown-item.dropdown-item-etc{
  padding-top:.2rem;
  padding-bottom:.3rem;
}
#noShowScheduleDropdown .dropdown-item.dropdown-item-etc:active{
  background-color:#fff;
  color:#212121;
}
#noShowScheduleDropdown input{
  display:inline-flex;
  margin-right:.5rem;
  width: calc(100% - 24px);
}
.autocomplete-suggestions{
  border: .05rem solid #bdbdbd;
  background-color: white;
  border-top:0;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(189,189,189,0.25);
  -moz-box-shadow: 2px 2px 5px 0px rgba(189,189,189,0.25);
  box-shadow: 2px 2px 5px 0px rgba(189,189,189,0.25);
}
.autocomplete-suggestion{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  padding-left: .5rem;
}
.autocomplete-selected{
  background-color: #b2dfdb;
}
#noShowAdd{
  height:278.8px;
  vertical-align: middle;
}
#noShowAdd.active{
  display:inline-flex;
}
#noShowAdd .input-group{
  height:65px;
}
#noShowAddContent{
  line-height:31px;
}
#noShowAddContent span{
  margin-right:.5rem;
}
#noShowAddContent .noShowAddCase{
  line-height:1rem;
  height:1.5rem;
  margin-top:.25rem;
}
#noShowAddContent .noShowAddCase.badge-danger:hover{
  background-color:#dc3545;
  border-color: #f8f9fa;
  color: #fff;
}
#noShowAddContent .noShowAddCase:focus{
  box-shadow:none;
}
#noShowAddContent input{
  line-height:1rem;
  margin-top:.5rem;
  width: calc(100% - 78px);
}
@media(min-width:420px){
  #noShowAddContent input{
    margin-top:0;
    width: calc(100% - 248px);
  }
}
#noShowModal .noShowScheduleNoShow, #noShowModal .noShowScheduleNormal{
  line-height:1rem;
  padding:0;
  margin-left:.4rem;
  border-radius:0;
}
#noShowModal .modal-body{
  height:310px;
}
/* notification */
#notifications{
  position:absolute;
  right:0;
  top:55px;
  width:40%;
  max-width:400px;
  max-height:500px;
  overflow-y:hidden;
}
.alert-minimalist {
	background-color: rgb(241, 242, 240);
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
	border-radius:0;
	width: calc(100% - 20px);
}
.alert-minimalist .notification-icon {
	height: 1rem;
	margin-right: .3rem;
  line-height:1.5rem;
  color:#009688;
}
.alert-minimalist .notification-title {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
  margin-bottom:.2rem;
}
.alert-minimalist .notification-body {
	font-size: 80%;
	overflow-wrap: break-word;
  word-wrap: break-word;
  display:inline-block;
  text-indent:5px;
}
.alert-minimalist button{
  position:relative;
  z-index:1;
}
.alert-minimalist a:not([href="#"]){
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  z-index:0;
}
/* taskModal */
#taskModal{
  font-size:.9rem;
}
#taskModal i, #taskModal input{
  border-radius: 0;
}
#taskModal i{
  width:2rem;
  background-color:white;
}
#taskModal .close{
  position:absolute;
  right:1rem;
}
#taskModal #taskManager{
  border: .05rem solid #ced4da;
}
#taskModal #taskManager:focus{
  border: .05rem solid #ced4da;
  box-shadow:none;
}
#taskModal #taskManager:after{
  position:absolute;
  right:5%;
  top:45%;
}
#taskForm #taskManager + .dropdown-menu{
  margin-top:0;
  padding: .25rem 0;
  border-radius: 0;
  width:calc(100% - 61px);
  font-size:.9rem;
  min-width:5rem;
}
#taskForm span.tui-full-calendar-content{
  margin-left:.25rem;
}
#taskForm #taskManager + .dropdown-menu .dropdown-item{
  padding-left:0.5rem;
  font-size:.9rem;
  cursor:pointer;
}
@media (min-width: 576px){
  #taskForm #taskManager + .dropdown-menu{
    width:calc(100% - 30px);
  }
}
#taskModal .input-group-prepend i{
  border-width:.06rem;
  background-color:white;
}
#taskModal #taskStartDatePicker, #taskModal #taskEndDatePicker{
  width: calc(50% - 13px);
}
#taskModal #taskModalButtons{
  text-align: right;
}
#taskModal #taskModalSave{
  margin-left:.5rem;
}
/* footer */
footer{
  left:0;
  right:0;
  bottom:0;
}
/* commons */
.tooltip-inner{
  max-width:265px;
}
*:focus,.btn:focus{
  outline:none;
  box-shadow:none;
}
.flatpickr-current-month span.cur-month{
  font-weight: 400;
}
.flatpickr-calendar.noCalendar.hasTime .flatpickr-time{
  border-top:0;
}
span.flatpickr-apply-btn.flatpickr-am-pm{
  background-color:#009688;
  color:white;
}
span.flatpickr-apply-btn.flatpickr-am-pm:hover, span.flatpickr-apply-btn.flatpickr-am-pm:focus{
  background-color:#00796b;
}
input[name='name'], input[name='title'], input[name='contents'], input[name='etc']{
  ime-mode:active;
}
.float{
	position:absolute;
	width:60px;
	height:60px;
	bottom:40px;
	left:50%;
	background-color:#009688;
	color:#FFF;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  padding-top:12px;
  font-size:1.5rem;
  transform:translateX(-50%);
}
.float:focus{
  background-color:#00796b;
}
.flatpickr-mobile{
  overflow:hidden;
}
input.han, textarea.han{
  ime-mode:active;
}
/* tipsModal */
#tipsModal .modal-header #tipsTitle{
  display:initial;
}
#tipsModal .modal-header small{
  vertical-align: super;
}
#tipsModal .modal-body #waitTips{
  display:none;
  top:calc(50% - .5rem);
  left:calc(50% - .5rem);
  position:absolute;
  font-size:1.3rem;
}
#tipsModal .modal-body.wait #waitTips{
  display:block;
}
#tipsModal .modal-body #tipsBody{
  opacity:1;
}
#tipsModal .modal-body.wait #tipsBody{
  opacity:.5;
}
/* feedbackModal */
#feedbackModal #feedbackBody{
  height:100px;
  width:100%;
  font-size:.9rem;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: .9rem;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}