/*main contents*/
div.tui-full-calendar-weekday-grid{
  overflow-y:auto;
}
div.tui-full-calendar-weekday-schedules{
  overflow-y: auto;
}
div.tui-full-calendar-dayname-container{
  overflow-y: auto;
}
div.tui-full-calendar-timegrid-container{
  overflow-y: hidden;
}
#renderRange{
  font-size:1.5rem;
}
.calendarTypeGroup{
  right:0.5rem;
  height:50px;
}
#mainCalendarTools{
  min-height:50px;
  line-height:50px;
}
#mainCalendarTools .dropdown-menu{
  min-width:4.2rem;
  width:4.2rem;
  border-radius: 0;
  font-size:.9rem;
}
#mainCalendarTools .calendarType{
  line-height:28px;
  width:auto;
}
#mainContents{
  padding-left:0;
}
@media (min-width: 992px){
  #mainContents{
    border-left: 15px solid #f8f9fa;
  }
}
button.calendarType{
  border: 0;
}
button.calendarType:active, button.calendarType:hover, button.calendarType:focus, button.calendarType.active{
  background-color: #b2dfdb !important;
}
button.moveDate{
  line-height: 1.0;
}
button.moveDate:focus{
  box-shadow:none;
}
/* side bar */
#sidebarContainer{
  max-width:230px;
}
#lnbManagerList div:first-child{
  margin-top:.7rem;
}
#lnbManagerList .lnbManagerItem, #lnbManagerList + .lnbManagerItem{
  line-height:.8rem;
  margin-left:.25rem;
}
.addManagerItem label{
  width: calc(100% - 35px);
}
.addManagerItem input[type='text']{
  width: calc(100% - 23px);
  font-size:.8rem;
  display:inline-block;
}
.addManagerItem input[type='text']:focus{
  border-color:#ced4da;
  box-shadow:none;
}
.addManagerItem .submitAddManager, .addManagerItem .cancelAddManager, .infoManagerItem .deleteManager{
  cursor:pointer;
}
/* creation popup */
.tui-full-calendar-button.tui-full-calendar-popup-close{
  font-size:1.2rem;
  right:16px;
}
.tui-full-calendar-popup{
  font-size:0.9rem;
}
#creationPopupAllDay, #creationPopupAllDay + label, #creationPopupAllDay + label + label{
  font-size:0.9rem;
}
#creationPopupAllDay{
  display:none;
}
#tui-full-calendar-schedule-start-date, #tui-full-calendar-schedule-end-date{
  max-width:140px;
}
.tui-full-calendar-popup .input-group-prepend i{
  width:31px;
  background-color:white;
  border-radius:0 !important;
}
.tui-full-calendar-popup input.form-control{
  border-radius:0;
}
#creationPopup .tui-full-calendar-popup-container{
  width: 300px;
  min-width: 300px;
}
#creationPopup #creationPopupManager + .dropdown-menu{
  margin-top:0;
  padding: .25rem 0;
  border-radius: 0;
  width:234px;
}
#creationPopup .dropdown-menu .dropdown-item{
  padding-left:0.5rem;
  font-size:.9rem;
}
@media (min-width: 576px){
  #creationPopup .tui-full-calendar-popup-container{
    width: 535px;
  }
  #creationPopup #creationPopupManager + div.dropdown-menu{
    width:367px;
    margin-left:15px;
    transform: translate3d(0px, 35px, 0px) !important;
  }
}
.tui-full-calendar-dash{
  font-size:0.5rem;
  padding-top: 8px;
  padding-bottom: 8px;
}
#creationPopupManagerIcon{
  padding-left: 8px;
}
#creationPopupStartDateIcon, #creationPopupEndDateIcon{
  line-height: 1.8;
}
#creationPopupManager{
  border: 1px solid #ced4da;
}
#creationPopupManager:focus{
  box-shadow:none;
}
#creationPopupManager.dropdown-toggle:after{
  position:absolute;
  right:5%;
  top:45%;
}
.tui-full-calendar-section-allday{
  line-height:35px;
}
.tui-full-calendar-section-allday #creationPopupAllDay + label{
  width:15px;
  margin-bottom:0;
}
.tui-full-calendar-section-allday #creationPopupAllDay + label + label{
  margin-bottom:0;
}
.compactLabel{
  letter-spacing: -1px;
}
#detailPopup .tui-full-calendar-section-button{
  border-top: 1px solid #bdbdbd;
}
#detailPopup .tui-full-calendar-section-button .tui-full-calendar-popup-delete, #detailPopup .tui-full-calendar-section-button .tui-full-calendar-popup-edit, #detailPopup .tui-full-calendar-section-button .detailPopupLabel{
  width: calc(33.3333% - 2px);
  padding: 0;
  margin: 7px 0 11px 0;
  vertical-align: middle;
}
#detailPopup .tui-full-calendar-section-button .tui-full-calendar-content{
  display:block;
  height:20px;
  line-height:20px;
  border-right:1px solid #bdbdbd;
}
#detailPopup .tui-full-calendar-section-button .tui-full-calendar-popup-delete .tui-full-calendar-content{
  border-right:none;
}
.detailPopupLabel{
  background:none;
  border:none;
  cursor:pointer;
}
.detailPopupLabel span span, .detailPopupLabel div span{
  font-size:.8rem;
}
#detailPopupLabelDropdown:after{
  display:none;
}
.detailPopupLabel .dropdown-menu{
  min-width:5.5rem;
  width:5.5rem;
}
.detailPopupLabel .dropdown-item{
  padding-left:1.5rem;
  font-size:.9rem;
}

/* infoForm */
#infoForm{
  font-size:.9rem;
}
#infoForm #infoManagerList .infoManagerItem label{
  width: calc(100% - 21px);
}
#infoForm #infoManagerList input[type='text']{
  width: calc(100% - 22px);
  font-size:.8rem;
  display:inline-block;
}
.modal-header h5{
  margin-bottom:0;
}
#infoManagerList{
  max-height:142px;
  overflow-y:auto;
}
#infoManagerList div input[type="checkbox"].tui-full-calendar-checkbox-round + span{
  margin-right:6px;
}
#infoModal .addManager p{
  font-size:.8rem;
}
#infoModalColorPicker{
  width:158px;
  display:none;
}
#infoModalColorPicker div{
  font-size:.9rem;
}
#infoModalColorPickerClose{
  cursor:pointer;
}
#infoModalColorPicker .infoModalColor{
  cursor:pointer;
  margin:2px 2.5px;
}
#infoModal .infoBizTime{
  width:calc(50% - 14px);
}
#infoModal .scroll-wrapper{
  max-width:300px;
}
/*alrim modal*/
#alrimNotice{
  height:130px;
}
#alrimScreen{
  position:absolute;
  z-index:1;
  left:0;
  width:100%;
  height:calc(100% - 55px);
  background-color:white;
  opacity: .6;
  display:none;
}
/* noShow modal */
.nav-pills a{
  color:#212121;
}
#noShowModal{
  font-size:.9rem;
}
#noShowModal .modal-content div{
  margin-left:auto;
  margin-right:auto;
}
#noShowModal #noShowSearchList{
  height:180px;
}
#noShowModal #noShowScheduleList{
  height:179px;
}
/*#noShowModal #noShowSearchAdd{
  font-size:.9rem;
}*/
#noShowModal .noShowScheduleDate{
  width:calc(50% - 15px);
}
#noShowModal #noShowScheduleName{
  width:calc(60% - 37px);
}
@media(min-width:576px){
  #noShowModal #noShowScheduleName{
    width:calc(60% - 51px);
  }
}
#noShowModal #noShowScheduleContact{
  width:calc(40% - 27px);
}