.salesMenu .menuTitle.fixedScroll{
  position:fixed;
  z-index: 1;
  background-color: #f8f8f8;
  right: 5px;
  left:5px;
  top: 64px;
}
.salesMenu .menuTitle.fixedScroll + .menuContents{
  margin-top:97px;
}
.salesMenu #menuTitleSticky .divider{
  line-height:16px;
  display:inline-block;
}
#mainSalesSearch input, #mainSalesSearch .input-group-text, #mainSalesSearch button:not(#salesSearchButton){
  background-color:transparent;
  border-color: rgba(112,112,112,.35);
  color: #334150;
}
#mainSalesSearch button.active:not(#salesSearchButton){
  background-color:#334150;
  color:#fff;
  border-color:#334150;
}
#mainSalesSearch .input-group-text{
  border-left:none;
}
#mainSalesList{
  min-height: calc(100vh - 400px);
}
#salesSearchManagerList{
  border:none;
  border-radius: 2px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  padding:20px 0 10px 0;
}
#salesSortTypeMenu{
  font-size:14px;
  padding-bottom:5px;
  margin-bottom:10px;
}
#salesSortTypeMenu:after{
  content: url('/nmns/img/sort_on.svg');
  opacity:1;
  margin-left:3px;
  border:none;
  float:none;
  margin-top:0;
}
#salesToolsSticky{
  position:relative;
}
#salesToolsSticky .dropdown-menu{
  border:none;
  min-width:110px;
  border-radius: 2px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  padding:20px 0 10px 0;
}
#salesToolsSticky .dropdown-item{
  padding-left:15px;
  padding-right:15px;
  text-align:left;
  font-size:14px;
  height:40px;
}

.salesRow .montserrat{
  font-size:11px;
}
.salesRow{
  display:flex;
  padding:15px 20px;
  background-color:#fff;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  margin:0 0 8px 0;
  align-items:center;
}
#mainSalesTools.fixedScroll #salesToolsSticky{
  position: fixed;
  top: 131px;
  z-index: 1;
  right: 5px;
  background-color: #f8f8f8;
}

#mainSalesTools.fixedScroll + #mainSalesList{
  margin-top:50px;
}
#salesSummary .salesHead{
    justify-content: center;
    font-size:13px;
}

#salesSummary{
  font-size:14px;
}
#salesSummary .salesSummaryTitle, #mainSalesList .salesRow .salesSubHead{
  opacity:0.7;
}

#salesSummary .montserrat{
  font-weight:500;
}

#mainSalesList .salesRow div{
  font-size:12px;
}
#mainSalesList .salesRow .divider{
  line-height:12px;
}
#mainSalesList .salesRow .salesName{
  font-size:14px;
  font-weight:bold;
}

#mainSalesList .salesRow .tui-full-calendar-weekday-schedule-bullet{
  position:relative;
  display: inline-block;
  top:unset;
  left:unset;
  margin-left:auto;
  min-width:7px;
}
