<html>
<head>
    <title>Form Tester</title>
</head>
<body>
<form enctype="multipart/form-data" action="/form-tester" method="POST">
    <div>
        <label for="name">Your Name : &nbsp;</label>
        <input name="name" value="Your Name">
    </div>
    <br>
    <div>
        <label for="nickname">Your Nickname : &nbsp;</label>
        <input name="nickname" value="Your Nickname">
    </div>
    <div>
        <input type="file" name="logo">
    </div>
    <br>
    <button type="submit">Send my names</button>
    <img src="https://s3.ap-northeast-2.amazonaws.com/file.washow.co.kr/1559795586145.png"/>
    <img src="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
</form>
</body>
</html>